---
layout: compress
---

<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css"/>


    {% seo %}

    {% feed_meta %}
</head>
<body>
<header uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center uk-container uk-container-small">
            <h1 class="uk-navbar-item uk-logo">
                <a href="{{site.url}}">
                    {{site.title}}
                </a>
            </h1>
        </div>
    </nav>
</header>
<main>
    {{content}}
</main>
<footer>
    <div class="uk-container uk-container-small">
        <hr class="uk-margin-top">
        <ul class="uk-iconnav uk-flex-center">
            <li>
                <a href="mailto:{{site.email}}" target="_blank" uk-icon="icon: mail" title="Mail" uk-tooltip></a>
            </li>
            <li>
                <a href="https://github.com/{{site.github.username}}" target="_blank" uk-icon="icon: github" title="Github" uk-tooltip></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/{{site.linkedin.username}}" target="_blank" uk-icon="icon: linkedin" title="Linkedin" uk-tooltip></a>
            </li>
            <li>
                <a href="https://twitter.com/{{site.twitter.username}}" target="_blank" uk-icon="icon: twitter" title="Twitter" uk-tooltip></a>
            </li>
            <li>
                <a href="https://www.instagram.com/{{site.instagram.username}}" target="_blank" uk-icon="icon: instagram" title="Instagram" uk-tooltip></a>
            </li>
            <li>
                <a href="{{site.feed.path}}" uk-icon="icon: rss" title="RSS" uk-tooltip></a>
            </li>
        </ul>
        <div class="uk-text-right">
            <a href="" uk-totop uk-scroll></a>
        </div>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>

</body>

</html>