---
layout: base
---
<div class="uk-container uk-container-small">
    <article class="uk-article uk-padding uk-padding-remove-horizontal">
        <h2 class="uk-article-title"><a href="{{page.url}}">{{page.title}}</a></h2>
        <div class="uk-article-meta">
            <span uk-icon="calendar"></span>
            <span>{{page.date | date_to_string}}</span>
        </div>

        <div>{{page.content}}</div>

        <ul class="uk-margin-top uk-text-center">
            {% for tag in page.tags %}
            <li class="uk-label">{{tag | replace:'_',' '}}</li>
            {% endfor %}
        </ul>

        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '{{page.url | absolute_url}}';
                this.page.identifier = '{{page.id}}';
            };
            (function () {
                var d = document, s = d.createElement('script');
                s.src = 'https://nasermirzaei89-net.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    </article>
</div>
